* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}


header {
    text-align: center;
	width: 100%;
	height: auto;
	height: 65px;
	padding:15px 10px 15px 0px;
	margin: 0 auto;
	background-color: black;
    color: white;
}

header ul li {
	display: inline-block;
	float: left;
	text-decoration: none;
	color: black;
	background-color: lightgray;
	padding: 8px 25px;
	margin-right:15px;
	transition: background-color 0.3s linear;
}


#form1 {
    width: 50%;
    padding: 10px;
}



fieldset {
    padding: 10px;
    margin: 10px;
}